:root {
  font-size: 62.5%;
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/inter-v13-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form__wrapper {
  margin: 0 auto;
  width: 500px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 20px;
}

input,
textarea {
  width: 100%;
  padding: 16px;
}

label {
  display: block;
}
.form-item {
  width: 100%;
}

.form-item label {
  font-size: 1.6rem;
  font-family: "Inter";
  margin-bottom: 8px;
}
.form-item__btn {
  font-size: 1.6rem;
  font-family: "Inter";
  background: hsl(50, 50%, 50%);
  padding: 16px 32px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.form-item__text {
  font-size: 1.5rem;
  font-family: "Inter";
  background: gainsboro;
  border: none;
}

.form-item__text:focus-visible,
.form-item__btn:focus-visible {
  outline: 1px solid hsl(50, 50%, 50%);
  outline-offset: 4px;
}
